# Python
__pycache__/
.pytest_cache/
.ruff_cache
.venv/
*.egg
*.egg-info/
*.pyc
*.pyd
*.pyo
build/
dist/

# Database
pm.db

# IDE
.vscode/
.idea/

# PM Tool configuration directory
.pm/*
!.pm/config.toml
!.pm/guidelines/
